body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.container {
  padding: 200px;
}

.table,
th,
td {
  border: 1px solid #b8b8b8;
  border-collapse: collapse;
}

.table {
  width: 100%;
}

th {
  color: #3d6671;
  padding: 5px;
}

td {
  text-align: center;

  color: #7c868e;
}

.b-0 {
  border: none;
}

.row-h {
  width: 10%;
}

.row-sub-h {
  text-align: start;
  font-size: 14px;
  width: 20%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-right: 1px #b8b8b8 solid;
}

.card-score,
.card-status {
  margin: 0;
  padding: 5px;
}

.card-graph {
  width: 100px;
  height: 60px;
}

.ok-colour {
  color: #24d683;
}

.ok-border {
  border: 1px #24d683 solid;
}

.degraded-colour {
  color: #ffbb53;
}

.degraded-border {
  border: 1px #ffbb53 solid;
}

.failed-colour {
  color: #ff4340;
}

.failed-border {
  border: 1px #ff4340 solid;
}
