body {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

.container {
  padding: 100px;
}

.table,
th,
td {
  border: 1px solid #b8b8b8;
  border-collapse: collapse;
}

.table {
  width: 100%;
}

th {
  color: #3d6671;
  padding: 5px;
}

td {
  text-align: center;
  color: #7c868e;
}

.b-0 {
  border: none;
}

.col-h {
  font-size: 12px;
}

.row-h {
  font-size: 12px;
  /* transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg); */
}

.row-sub-h {
  text-align: start;
  font-size: 11px;
  width: 20%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px #b8b8b8 solid;
}

.card-score,
.card-status {
  margin: 0;
  padding: 5px;
  font-size: 10px;
}

.card-graph {
  padding: 2px;
  width: 80px;
  height: 60px;
}

.ok-colour {
  color: #24d683;
}

.ok-border {
  border: 1px #24d683 solid;
}

.degraded-colour {
  color: #ffbb53;
}

.degraded-border {
  border: 1px #ffbb53 solid;
}

.failed-colour {
  color: #ff4340;
}

.failed-border {
  border: 1px #ff4340 solid;
}

.bg-grey {
  background-color: #F3F4F6;
}
